.header-image{
  background-image: url('https://images.unsplash.com/photo-1581888227599-779811939961?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
  width: 100%;
  height: 110vh;
  background-size: 100% 100%;
  
}

.header {
  padding: 60px;
  text-align: center;
  background: #9ED9CCFF;
  color: white;
  font-size: 35px;
  height: 200px;
  width: 100%;
  font-family: 'Radley', serif;
  position: fixed;
  z-index: 999;
}

div.navbar-nav{
  background-color: #FAA094FF;
  font-family: 'Radley', serif;
  padding: 14px 16px;
  justify-content: space-between;
  font-size: 20px;
  text-decoration: none;
  width: 100%; 
}
#wrapper{
  display: flex;
  
  flex-wrap: wrap;
}


a {
  color: #f2f2f2;
  text-align: center;
}


.nav-link:active{
  
}

#nav{
  top: 175px;
  width: 100%;
  padding: 0; 
  display: inline-block;
}


.nav-link:hover{
  color: black;
}








.missionheader-image{
  background-image: url('./AnimalPhotos/boywithdog.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 120vh;
  position: relative;
}

.missionheader{
  padding: 60px;
  text-align: center;
  background: #9ED9CCFF;
  color: white;
  font-size: 35px;
  height: 200px;
  font-family: 'Radley', serif;
}


.contactheader-image{
  background-image: url('./AnimalPhotos/computercat.jpeg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  position: relative;
   
  
}

.contactheader {
  padding: 60px;
  text-align: center;
  background: #9ED9CCFF;
  color: white;
  font-size: 35px;
  height: 200px;
  font-family: 'Radley', serif;
  position: fixed;
  top: 50;
  width: 100%;
}











.container{
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Radley', serif;
}

.brandsintro{
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Radley', serif;
}

.servicesintro{
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Radley', serif;
}

.adoptionintro{
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Radley', serif;
}

.carousel-inner img {
  margin: auto;
  
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: 'Radley', serif;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Radley', serif;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}

footer {
  padding: 2.5rem;
  background-color: #FAA094FF;
 

}

footer input {
  width: 200px;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.5rem 1rem;
  
}

footer .cta {
  margin-left: 1rem;
  background-color: white;
  padding: 0.3rem 3rem;
  border-radius: 0.4rem;
  display: inline-block;
  margin-top: 1rem;
  color: #088C76FF
  

}

footer .social-icons {
  padding-left: 1rem;
  font-size: 2rem;
  color: white;
}

.navbar{
  color: white

}




.missionfooter {
  padding: 2.5rem;
  background-color: #FAA094FF;

}

.missionfooter input {
  width: 200px;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.5rem 1rem;
}

.missionfooter .cta {
  margin-left: 1rem;
  background-color: white;
  padding: 0.3rem 3rem;
  border-radius: 0.4rem;
  display: inline-block;
  margin-top: 1rem;
  color: #088C76FF
}

.missionfooter .social-icons {
  padding-left: 1rem;
  font-size: 2rem;
  color: white;
}

.missionnavbar{
  color: white
}

.contactfooter {
  padding: 2.5rem;
  background-color: #FAA094FF;

}

.contactfooter input {
  width: 200px;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.5rem 1rem;
}

.contactfooter .cta {
  margin-left: 1rem;
  background-color: white;
  padding: 0.3rem 3rem;
  border-radius: 0.4rem;
  display: inline-block;
  margin-top: 1rem;
  color: #088C76FF
}

.contactfooter .social-icons {
  padding-left: 1rem;
  font-size: 2rem;
  color: white;
}

.contactnavbar{
  color: white
}


 #backgroundcat{
  opacity: 0.5;
  z-index: 99;
  background-repeat: no-repeat no-repeat;
  height: max-content;
} 
section{
  height: 1000px;
}
section.offerings{
  background-image: url("./AnimalPhotos/catadoption2.jpeg");
  
}
div.card-body {
  z-index: 1;
} 




div.servicesintro{
  background-image: url("./AnimalPhotos/vethands.jpeg");
  background-repeat: no-repeat;

}

.card{
  /* margin: 0 !important; */
}

div#vethands{
  opacity: 0.5;
  z-index: -1;
  height: 100;
  width: auto;
  height: 100vh;
  font-size: 40px;
}

h3#pro-services {
  font-size: 65px;
}


.professionalservicescircles{
 
  color: black;
  font-family: 'Radley', serif;


}

#market{
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
 
}

img.img-fluid {
  height: 250px;
  width: auto;
  display: flex;
  flex-direction: row;
}

div.product.col-sm-6.col-md-4.col-lg-3.col-2.mt-5{
  margin-right: 0px !important;
}


/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat331.cur), auto !important;} /* End https://www.cursors-4u.com */

.professionalservicescircles{
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  
 
}

#servicescard{
  padding-top: 500px;
  display: flex;
  flex-wrap: wrap;
  
}